# 1. Đầu tiên, bỏ qua toàn bộ tất cả các file và thư mục
*

# 2. NHƯNG ngoại trừ (giữ lại) file mã nguồn chính và tài liệu
!InvoicesExtract.py
!.gitignore
!README.md
!LICENSE

# 3. Ngoại trừ file Icon (Mở khóa thư mục trước, mở khóa file sau)
!Icon/
Icon/*
!Icon/InvoicesExtract.ico